.room-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

    padding: 20px;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
  }
  
  .MuiCard-root {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .MuiCardMedia-root {
    border-radius: 8px;
    object-fit: cover;
  }
  
  .MuiButton-root {
    border-radius: 5px;
  }
  